[Unit]
Description=Money Book Service
After=network.target network-online.target

[Service]
Environment="M_ADDR=0.0.0.0"
Environment="M_PORT=8000"
Environment="M_DATABASE=mysql://root:root@localhost:3306/moneybook"
Type=simple
User=root
WorkingDirectory=/usr/local/bin/moneybook
ExecStart=node server.js -a ${M_ADDR} -p ${M_PORT} -d ${M_DATABASE}

[Install]
WantedBy=multi-user.target